aiohttp
aiosignal
async-timeout
attrs
blinker
cattrs
charset-normalizer
click
colorama
exceptiongroup
fastapi
flask
frozenlist
gunicorn 
highrise-bot-sdk 
idna
itsdangerous 
jinja2 
markupsafe 
multidict 
pendulum
pydantic==1.10.14
python-dateutil 
python-dotenv 
pytzdata 
quattro 
six
typing-extensions 
uvicorn
werkzeug 
yarl 
yt-dlp
sounddevice
soundfile