aiohttp
aiosignal
async-timeout
attrs
blinker
charset-normalizer
click
colorama
exceptiongroup
flask
frozenlist
gunicorn 
highrise-bot-sdk 
idna
itsdangerous 
jinja2 
markupsafe 
multidict
python-dotenv 
pytzdata
six
typing-extensions 
werkzeug 
yarl 
setuptools
yt_dlp
sounddevice
PortAudio